      body {
        background-color: #5cd8fe;
        background-image: url(images/prairie-blue.jpg);
        padding: 66px;
        margin: 0px;
        text-transform: lowercase;
        font-family: Helvetica, Arial, sans-serif;
      }
      
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
      
      div {
        padding: 0px;
        margin: 0px;
      }
      
      div#content {
        padding: 0px;
        width: 860px;
      }
      
      div#main {
        width: 760px;
      }
      
      div.section {
        background-color: #d2ecf5;
        margin: 20px;
        padding: 5px;
      }
      
      div#intro {
        height: 400px;
        text-align: right;
      }
      
      div.bio {
        padding : 25px ;
      }
      div.bio p {
        margin : 5px;
      }
      
      div#links {
        position: absolute;
        top: 66px;
        left: 800px;
      }
      
      h1, h2, #content a {
        font-size: 40px;
      }
      
      h3 {
        margin : 8px 0px ;
      }
      
      div#links a {
          font-size : 30px;
          color : #5cd8fe;
      }
      
      div#links li {
          margin : 2px 0px;
      }
      
      h1, h2 {
        font-weight: bolder;
        margin: 0px;
      }
      
      a {
        color: black;
        text-decoration: none;
        padding: 3px 10px;
      }
      
      a:hover, div#links a:hover {
        color: #d2ecf5;
        background-color: #5cd8fe;
      }
      
      img#logo {
        float: right;
      }
      
      div#headings {
        padding: 80px 0px;
      }
      
      #email-me {
        font-size: 90%;
      }
      
      ul#aliases li, ul#web-list li {
        display: inline;
      }
      
      ul#aliases a, ul#web-list a {
        font-size: 100%;
      }
