<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <section id="cover" class="cover">
      <div class="cover-title">
        <div class="container">
          <div class="row">
            <h1>
              Matthew Rudy Jacobs
            </h1>

            <h2>
              Developer and wannabe-CTO in Taipei
            </h2>
          </div>
        </div>
      </div>
    </section>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>



  </body>

</html>
