<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header id="cover" class="cover">
      <div class="cover-title">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h1>
              Matthew Rudy Jacobs
            </h1>

            <h2>
              Developer and wannabe-CTO
            </h2>
          </div>
        </div>
      </div>
      {% include social-links.html %}
    </header>

    <article class="home-content">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          {{ content }}
        </div>
      </div>
    </article>
  </body>
</html>
